<form class="card mb-3" id="new-post-form">
    <h2>New Post</h2>
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input type="title" class="form-control" id="post-title" placeholder="Post Title">
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Body</label>
    <textarea class="form-control" id="post-body" rows="3" placeholder="Post Body"></textarea>
  <button type="submit" class="btn btn-primary">Create Post</button>
  </div>
</form>

<script src="/js/newPost.js"></script>

